:root {
  --primary: #F41E1D;
  --clr-first: #CFF5E7; 
  --clr-second: #A0E4CB;
  --clr-third: #2A303C;
  --clr-dark: #1F2937;
  --clr-theme-dark: #111010;
  --clr-theme-white: #fbfbfb;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply scroll-smooth;
}